.body-page{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
    font-family: Nunito;
}
.cont-1{
    padding-top: 70px;
    height: 100vh;
}
.container{
    position: absolute;
    top: 35%;
    left: 40px;
    text-align: left;
    width: 850px;
}
.spec-text{
    color: rgb(0, 255, 156);
}

.spec-text:hover{
    color: black;
}

.text-p{
    text-align: left;
}

.content-pic img {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
    left: 65%;
    top: 165px;
}

.btn-1{
    background-color: rgb(0, 255, 156);
    color: white;
    border-color: rgb(0, 255, 156);
    height: 45px;
    width: 100px;
    font-size: 17px;
}

.btn-1:hover{
    background-color: rgb(247, 247, 247);
    border-color: rgb(0, 255, 156);
    color: rgb(0, 255, 156);
}



.icon-1{
    position: relative;
    margin-bottom: 40px;
}

.icon{
    width: 200px;

    animation: autoRotateAnimation;
    animation-timeline: view();
}

@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}



.container-2-sub{
    position: relative;
}

.Det{
    left: 750px;
}

.Det-2{
    left: 400px;
}

.Det-3{
    left: 750px;
}

.hd{
    margin-top: 50px;
}

.com{
    position: relative;
    width: 350px;
    margin-top: 50px;
    background-color: rgb(0, 255, 156,0.8);
    color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.com:hover{
    background-color: rgb(138, 250, 207);
    color: rgb(128, 130, 129);
}

.container-5{
    height: 70vh;
}

.container-6{
    border: solid 2px;
    height: 100vh;
}

.sec-container{
    margin-top: 100px;
    height: 70vh;
    position: relative;
}

.box-container{
    padding-top: 10px;
    margin-left: 25%;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    position: relative;
}

.box{
    width: 150px;
    height: 270px;/* */
   /* border: solid 2px;*/
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box-1 img, .box-2 img,
.box-3 img, .box-4 img,
.box-5 img{
    width: 100px;
    height: 100px;
    padding-left: 25px;
    padding-top: 10px;
}

.text{
    
    margin-top: 30px;
}
.text h1, p{
    text-align: center;
}

.text h1{
    font-size: 25px;
}

.color-box{
    position: absolute;
    top:28%;
    left: 16.5%;
    background-color: rgb(0, 255, 156);
    width: 70%;
    height: 300px;
    z-index: 1;
}

.container-4{
    height: 50vh;
}

.package{
    display: flex;
    height: 450px;
    width: 500px;
    margin-left: 34%;
    margin-top: 30px;
}

.pic-box{
    width: 250px;
    align-items: center;
    padding-top: 6%;
}

.vegebag{
    width: 240px;
}


.t-box{
    text-align: left;
}

.i-box{
    width: 250px;
}

.i-1{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.i-2{
    width: 50px;
    border-radius: 25px;
    height: 50px;
    margin-top: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.txtnew{
    font-size: small;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 150px;
}

.first-txt{
    font-size: 13px;
    font-weight: bold;
}

.second-text{
    color: rgb(0, 255, 156);
    font-weight: bold;
}

.dis-sec{
    height: 20vh;
}

.dis-box{
    background-color: rgb(0, 255, 156);
    height: 100px;
    width: 1000px;
    position: relative;
    
    left: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.dis-btn{
    border: none;
    background-color: rgb(185, 244, 197);
    height: 40px;
    width: 150px;
    border-radius: 20px;
}

.dis-btn:hover{
    background-color: rgb(0, 255, 156);
    color: white;
    border: solid 1px;
}

.dis-txt{
    margin: 0;
    padding: 0;
}

.categories{
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.cat-pic-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cat-pic-box img{
    width: 150px;
}

.cat-pic-box img:hover{
    border: solid 1px;
    background-color: rgb(0, 255, 156);
}
.cat-text{
    margin-top: 30px;
}

.c-pack{
    height: 80vh;
}

.card-container{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.card-container img{
    height: 290px;
}

.footer{
    height: 50vh;
}

.linebreak-footer{
    height: 3px;             /* Set the height you want */
  background-color: black;  /* Set color */
  border: none;  
  width: 50%;
  margin-left: 25%;
}


.footer-det{
    display: flex;
    justify-content: space-around;
}

.footer-icons{
    position: relative;
    left: 44%;
    top: 30px;
}

.contact{
    height: 100vh;
}

.contact-container{
    border: solid 2px;
    position: relative;
    width: 800px;
    height: 400px;
    left: 23%;
    top: 23%;
    background-color: rgb(0, 255, 156, 0.7);
    border-radius: 5px;
    color: white;
}

.contact-container h1{
    margin-top: 20px;
}

.contact-det{
    padding-top: 20px;
    padding-bottom: 20px;
}

.con-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.con-1-sub-1{
    width: 45%;
    color: gray;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
}

.con-2{
    display: flex;
    justify-content: space-around;
}

.contact-msg{
    width: 750px;
    height: 130px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
}

.btn-2{
    background-color: white;
    color: rgb(0, 255, 156, 0.7);
    border-color: rgb(0, 255, 156, 0.7);
    height: 45px;
    width: 100px;
    font-size: 17px;
}

.btn-2:hover{
    background-color: rgb(0, 255, 156, 0.7);
    border-color: black;
    color: gray;
}

